on:
  push:
    branches: [ master ]

jobs:
  create-tag:
    runs-on: ubuntu-latest
    steps:
      - name: Create Tag From Commit
        uses: actions/github-script@v7
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const version = require('./VERSION');
            const tag = `v${version}`;
            await github.rest.git.createRef({
              owner: context.repo.owner,
              repo: context.repo.repo,
              ref: `refs/tags/${tag}`,
              sha: context.sha,
            });
